<div id="post-<%= i.id %>" class="post-wrapper">
  <div class="post-header">
    <div class="post-avatar">
      <a href="/users/profile?id=<%= i.user._id %>">
        <% if(i.user.avatar == undefined){ %>
          <i class="fas fa-user"></i>
          <% }else{ %>
            <img src="<%= i.user.avatar %>" alt="logo" style="
            height: 42px;
            width: 39px;
        " />
            <% } %>
      </a>
      <div>
        <span class="post-author">
          <a href="/users/profile?id=<%= i.user._id %> ">
          <%= i.user.name %>
          </a>
        </span>
        <span class="post-time">a minute ago</span>
      </div>
      <% if(locals.user && locals.user.id == i.user.id){ %>
        <button class="delete-btn no-btn">
          <a class="delete-post-btn" href="/posts/destroy/<%= i._id %>"><i class="fas fa-times"></i></a>
        </button>
        <% } %>
    </div>

    <div class="post-content">
      <%= i.content %>
    </div>

    <div class="post-actions">
      <button class="post-like no-btn">
        <a data-likes="<%= i.likes.length %>" class="toggle-like-button"
          href="/likes/toggle/?id=<%=i._id%>&type=Post">
          <% let flag=false %>
            <% for(let like of i.likes){ %>
              <% if(like.user==locals.user){ %>
                <% flag=true %>
                  <% } %>
                    <% } %>

                    <% if(flag) {%>
                      <img
                        src="https://image.flaticon.com/icons/svg/1076/1076984.svg"
                        alt="likes-icon"
                      />
                    <% } else{%>
                       <img
                        src="https://image.flaticon.com/icons/svg/1077/1077035.svg"
                        alt="likes-icon"
                      />
                    <% } %>
                      <span>
                        <%= i.likes.length %>
                      </span>
                      <i class="fas fa-heart"></i>
        </a>
      </button>

      <div class="post-comment-icon">
        <!-- <img src="https://image.flaticon.com/icons/svg/1380/1380338.svg" alt="comments-icon"> -->
        <i class="fas fa-comment"></i>
        <span>
          <%= i.comments.length %>
        </span>
      </div>
    </div>

    <% if(locals.user){ %>
      <div class="post-comment-box">
        <form id="post-<%= i.id %>-comments-form" action="/comments/create" method="POST">
          <input type="text" name="content" placeholder="Type Here to add comment..." required>
          <input type="hidden" name="post" value="<%= i._id %>">
          <input type="submit" value="Add Comment">
        </form>
      </div>
      <%}%>

        <div id="post-comments-<%= i.id %>" class="post-comments-list">
          <% for(comment of i.comments){ %>
            <%- include('_comment') -%>
              <% } %>
        </div>
  </div>
</div>