<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="<%= assetPath('/css/layout.css') %>">
  <link rel="stylesheet" href="<%= assetPath('/css/header.css') %>">
  <link rel="stylesheet" href="<%= assetPath('/css/footer.css') %>">
  <!-- cdn links for flash -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- automatically put here -->
  <%- style %>
</head>

<body>
  <!-- this is partial(function calling) -->
  <%- include('_header'); %>
    <!-- body is inbuilt provided by layouts and it insert all the content of page here,then send this page to browser-->
    <!-- this whole file is wrapper to body -->
    <!-- <main id="layout-main"> -->
      <%- body %>
    <!-- </main> -->
    <%- include('_footer'); %>

      <%- script %>
        <!-- script for showing flash -->
        <script>
         <% if (flash.success && flash.success.length > 0) { %>
            new Noty({
              theme: 'relax',
              text: '<%= flash.success%>',
              type: 'success',
              layout: 'topRight',
              timeout: 1500
            }).show();
          <% } %>

          <% if (flash.error && flash.error.length > 0) {%>
            new Noty({
              theme: 'relax',
              text: '<%= flash.error%>',
              type: 'error',
              layout: 'topRight',
              timeout: 1500
            }).show();
          <% } %>
        </script>

        <script src="https://kit.fontawesome.com/26ae0d85b1.js" crossorigin="anonymous"></script>

</body>

</html>